<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Test Devise</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <%- if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li><%= link_to "Users", users_path%></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
      <% end -%>
    </div>
  </div>
</nav>
